# Build artifacts
bin/
obj/
*.ispac

# Local IDE
.vs/
*.user
*.suo
*.cache

# Database & backups
*.mdf
*.ldf
*.ndf
*.bak
*.trn

# Logs & temp
*.log
*.tmp

# Secrets / env / local config
.env
*.dtsConfig
parameters.json

# SSIS project user files
*.dtproj.user
*.dtsx.user

# SSRS (reports) temp/user files
*.rdl.data
*.rptproj.user
*.rsuser

# SSAS (Tabular/MD) caches & user files
**/Backup/*
**/Workspace/*
**/Tabular/*/Data
*.smproj.user
*.abf             
*.bim.layout      
*.bim.diagram     

# Power BI 
# *.pbix
# *.pbit

# Optional: OS junk
Thumbs.db
.DS_Store
